---
import BYDlogo from '../assets/icons/BYD-logo.png';
import ARestaurantLogo from '../assets/icons/A-ristorante-logo.png';
import BIgroupLogo from '../assets/icons/bi-group-logo.svg';
import uztelecom from '../assets/icons/uztelecom-logo.svg';
import IT_PARK from '../assets/icons/IT_PARK_UZBEKISTAN_logo.png';
import faravonLogo from '../assets/icons/faravon-logo.webp';
import centralAsianUniversityLogo from '../assets/icons/central_asian_university-logo.png';
// import bukaGymLogo from '../assets/icons/buka_gym.png';
import serenePharmaLogo from '../assets/icons/Serene_pharma-logo.png';
import asalLogo from '../assets/icons/asal-logo.webp';
import uzGTLLogo from '../assets/icons/uzGTL-logo.png';
// import tomoshaTeatrLogo from '../assets/icons/tomosha_teatr.jpg';
import internationalLogo from '../assets/icons/internation-logo.svg';
import astanaMotorsLogo from '../assets/icons/astana_motors-logo.png';
---

<section class="trusted-by_mainPage">
  <span class="trusted-by_mainPage__left__subtitle">Доверяют нам</span>
  <div class="trusted-by_mainPage__container">
    <div class="trusted-by_mainPage__right">
      <div class="trusted-by_ticker-container">
        <!-- LTR Swiper -->
        <div class="trusted-by-ltr swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img src={BIgroupLogo.src} alt="BI Group" />
            </div>

            <div class="swiper-slide">
              <img src="https://anorbank.uz/images/logo.svg" />
            </div>

            <div class="swiper-slide">
              <img src={BYDlogo.src} alt="BYD" />
            </div>

            <div class="swiper-slide">
              <img src={IT_PARK.src} alt="IT Park Uzbekistan" />
            </div>

            <div class="swiper-slide">
              <img
                src="https://www.tengebank.uz/storage/app/uploads/public/696/882/591/6968825912df6020097273.svg"
              />
            </div>

            <div class="swiper-slide">
              <img src={uztelecom.src} alt="Uztelecom" />
            </div>

            <div class="swiper-slide">
              <img
                src="https://www.aab.uz/bitrix/templates/main_2022/ab/images/header-logo.svg"
              />
            </div>

            <div class="swiper-slide">
              <img src={faravonLogo.src} alt="Faravon Khiva" />
            </div>

            <div class="swiper-slide">
              <img
                src="https://aloqabank.uz/bitrix/templates/main/mk/images/logo_NE.svg"
              />
            </div>

            <!-- <div class="swiper-slide">
              <img src={bukaGymLogo.src} alt="Buka Gym" />
            </div> -->

            <!-- Duplicate set 1 -->
          </div>
        </div>
        <!-- RTL Swiper -->
        <div class="trusted-by-rtl swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img src={ARestaurantLogo.src} alt="A-Ristorante" />
            </div>

            <div class="swiper-slide">
              <img
                src="https://www.ipotekabank.uz/local/templates/ipotekatmpl/images/bank_logo.CNPl83kA.png"
              />
            </div>

            <div class="swiper-slide">
              <img
                src={centralAsianUniversityLogo.src}
                alt="Central Asian University"
              />
            </div>

            <div class="swiper-slide">
              <img src={serenePharmaLogo.src} alt="Serene Pharma" />
            </div>

            <div class="swiper-slide">
              <img src={asalLogo.src} alt="Ассоциация Пчеловодов Узбекистана" />
            </div>

            <div class="swiper-slide">
              <img src={uzGTLLogo.src} alt="Uzbekistan GTL" />
            </div>

            <!-- <div class="swiper-slide">
              <img src={tomoshaTeatrLogo.src} alt="Театр Томош" />
            </div> -->

            <div class="swiper-slide">
              <img src={internationalLogo.src} alt="International" />
            </div>

            <div class="swiper-slide">
              <img
                src={centralAsianUniversityLogo.src}
                alt="Central Asian University"
              />
            </div>

            <div class="swiper-slide">
              <img src={astanaMotorsLogo.src} alt="Astana Motors" />
            </div>

            <!-- Duplicate set 1 -->
          </div>
        </div>
        <!-- LTR Swiper -->
        <div class="trusted-by-ltr swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img src={IT_PARK.src} alt="IT Park Uzbekistan" />
            </div>

            <div class="swiper-slide">
              <img
                src="https://www.tengebank.uz/storage/app/uploads/public/696/882/591/6968825912df6020097273.svg"
              />
            </div>

            <!-- <div class="swiper-slide">
              <img src={bukaGymLogo.src} alt="Buka Gym" />
            </div> -->

            <div class="swiper-slide">
              <img
                src="https://www.aab.uz/bitrix/templates/main_2022/ab/images/header-logo.svg"
              />
            </div>

            <div class="swiper-slide">
              <img src={BYDlogo.src} alt="BYD" />
            </div>

            <div class="swiper-slide">
              <img src="https://anorbank.uz/images/logo.svg" />
            </div>

            <div class="swiper-slide">
              <img src={faravonLogo.src} alt="Faravon Khiva" />
            </div>

            <div class="swiper-slide">
              <img src={BIgroupLogo.src} alt="BI Group" />
            </div>

            <div class="swiper-slide">
              <img src={uztelecom.src} alt="Uztelecom" />
            </div>

            <div class="swiper-slide">
              <img
                src="https://aloqabank.uz/bitrix/templates/main/mk/images/logo_NE.svg"
              />
            </div>

            <!-- Duplicate set 1 -->
          </div>
        </div>
        <!-- RTL Swiper -->
        <div class="trusted-by-rtl swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img src={serenePharmaLogo.src} alt="Serene Pharma" />
            </div>

            <div class="swiper-slide">
              <img src={astanaMotorsLogo.src} alt="Astana Motors" />
            </div>

            <div class="swiper-slide">
              <img
                src="https://www.ipotekabank.uz/local/templates/ipotekatmpl/images/bank_logo.CNPl83kA.png"
              />
            </div>

            <!-- <div class="swiper-slide">
              <img src={tomoshaTeatrLogo.src} alt="Театр Томош" />
            </div> -->

            <div class="swiper-slide">
              <img src={ARestaurantLogo.src} alt="A-Ristorante" />
            </div>

            <div class="swiper-slide">
              <img src={uzGTLLogo.src} alt="Uzbekistan GTL" />
            </div>

            <div class="swiper-slide">
              <img
                src={centralAsianUniversityLogo.src}
                alt="Central Asian University"
              />
            </div>

            <div class="swiper-slide">
              <img src={internationalLogo.src} alt="International" />
            </div>

            <div class="swiper-slide">
              <img src={asalLogo.src} alt="Ассоциация Пчеловодов Узбекистана" />
            </div>

            <div class="swiper-slide">
              <img
                src={centralAsianUniversityLogo.src}
                alt="Central Asian University"
              />
            </div>

            <!-- Duplicate set 1 -->
          </div>
        </div>
      </div>
    </div>

    <div class="trusted-by_mainPage__left">
      <h2>Выбор лидеров индустрии.</h2>
      <p>
        Мы воплощаем статус ведущих компаний в мебели изысканного качества,
        уделяя внимание каждой детали и фурнитуре премиального сегмента.
        <!-- Масштаб нашего производства и десятилетняя экспертиза обеспечивают создание
        интерьеров, которые впечатляют и служат поколениям. -->
      </p>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Autoplay } from 'swiper/modules';
  import 'swiper/css';

  document.querySelectorAll<HTMLElement>('.trusted-by-ltr').forEach((el) => {
    new Swiper(el, {
      modules: [Autoplay],
      loop: true,
      slidesPerView: 'auto',
      spaceBetween: 0,
      speed: 10000,
      allowTouchMove: false,
      autoplay: { delay: 0, disableOnInteraction: false },
    });
  });

  document.querySelectorAll<HTMLElement>('.trusted-by-rtl').forEach((el) => {
    new Swiper(el, {
      modules: [Autoplay],
      loop: true,
      slidesPerView: 'auto',
      spaceBetween: 0,
      speed: 10000,
      allowTouchMove: false,
      autoplay: {
        delay: 0,
        disableOnInteraction: false,
        reverseDirection: true,
      },
    });
  });
</script>
